<div class="container-fluid">
  <h2><%= blog.title %></h2>
  by<a href="/profile/<%= blog.author %>"><i> <%= blog.author %></i></a>
  <p><%= blog.detail%></p>
  <a href="/blog" class="btn btn-primary">go back</a>
</div>